In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

<img src="./split_apply_combine.jpeg" width="90%" />

In [5]:
dframe_wine = pd.read_csv('data3/winequality-red.csv', sep=';')
dframe_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [9]:
def ranker(df):
    df['alc_content_rank'] = np.arange(len(df)) + 1
    return df

In [13]:
# アルコール度数で並べ替えます。
dframe_alc_rank = dframe_wine.sort_values('alcohol', ascending=False)
# groupbyのあと、先ほどの関数を適用します。
dframe_alc_rank = dframe_alc_rank.groupby('quality').apply(ranker)

/var/folders/qp/xhbtrt1n2k3_1bqjmm7jyxjr0000gn/T/ipykernel_4281/775123904.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dframe_alc_rank = dframe_alc_rank.groupby('quality').apply(ranker)

In [29]:
dframe_alc_rank.head(20)

              fixed acidity  volatile acidity  citric acid  residual sugar  \
quality
3       899             8.3             1.020         0.02            3.40
        1299            7.6             1.580         0.00            2.10
        690             7.4             1.185         0.00            4.25
        1478            7.1             0.875         0.05            5.70
        1505            6.7             0.760         0.02            1.80
        832            10.4             0.440         0.42            1.50
        1374            6.8             0.815         0.00            1.20
        1469            7.3             0.980         0.05            2.10
        459            11.6             0.580         0.66            2.20
        517            10.4             0.610         0.49            2.10
4       45              4.6             0.520         0.15            2.10
        1276            8.5             0.400         0.40            6.30
        1239            6.5             0.670         0.00            4.30
        1124            6.5             0.580         0.00            2.20
        1235            6.0             0.330         0.32           12.90
        199             6.9             1.090         0.06            2.10
        813             6.9             0.390         0.24            2.10
        633            10.1             0.935         0.22            3.40
        724             7.5             1.115         0.10            3.10
        1261            6.3             1.020         0.00            2.00

              chlorides  free sulfur dioxide  total sulfur dioxide  density  \
quality
3       899       0.084                  6.0                  11.0  0.99892
        1299      0.137                  5.0                   9.0  0.99476
        690       0.097                  5.0                  14.0  0.99660
        1478      0.082                  3.0                  14.0  0.99808
        1505      0.078                  6.0                  12.0  0.99600
        832       0.145                 34.0                  48.0  0.99832
        1374      0.267                 16.0                  29.0  0.99471
        1469      0.061                 20.0                  49.0  0.99705
        459       0.074                 10.0                  47.0  1.00080
        517       0.200                  5.0                  16.0  0.99940
4       45        0.054                  8.0                  65.0  0.99340
        1276      0.050                  3.0                  10.0  0.99566
        1239      0.057                 11.0                  20.0  0.99488
        1124      0.096                  3.0                  13.0  0.99557
        1235      0.054                  6.0                 113.0  0.99572
        199       0.061                 12.0                  31.0  0.99480
        813       0.102                  4.0                   7.0  0.99462
        633       0.105                 11.0                  86.0  1.00100
        724       0.086                  5.0                  12.0  0.99580
        1261      0.083                 17.0                  24.0  0.99437

                pH  sulphates  alcohol  quality  alc_content_rank
quality
3       899   3.48       0.49    11.00        3                 1
        1299  3.50       0.40    10.90        3                 2
        690   3.63       0.54    10.70        3                 3
        1478  3.40       0.52    10.20        3                 4
        1505  3.55       0.63     9.95        3                 5
        832   3.38       0.86     9.90        3                 6
        1374  3.32       0.51     9.80        3                 7
        1469  3.31       0.55     9.70        3                 8
        459   3.25       0.57     9.00        3                 9
        517   3.16       0.63     8.40        3                10
4       45    3.90       0.56    13.10        4                 1
        1276  3.28       0.56    12.00        4                 2
        1239  3.45       0.56    11.80        4                 3
        1124  3.62       0.62    11.50        4                 4
        1235  3.30       0.56    11.50        4                 5
        199   3.51       0.43    11.40        4                 6
        813   3.44       0.58    11.40        4                 7
        633   3.43       0.64    11.30        4                 8
        724   3.54       0.60    11.20        4                 9
        1261  3.59       0.55    11.20        4                10

In [27]:
dframe_alc_rank_a = ranker(dframe_wine.sort_values('alcohol', ascending=False))
dframe_alc_rank_a.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_content_rank
652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,1
1270,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6,2
1269,5.5,0.49,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8,3
821,4.9,0.42,0.00,2.1,0.048,16.0,42.0,0.99154,3.71,0.74,14.0,7,4
144,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,5

In [31]:
# qualityごとの本数を計算します。
num_of_qual = dframe_alc_rank['quality'].value_counts()
num_of_qual

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [32]:
dframe_alc_rank

              fixed acidity  volatile acidity  citric acid  residual sugar  \
quality
3       899             8.3             1.020         0.02            3.40
        1299            7.6             1.580         0.00            2.10
        690             7.4             1.185         0.00            4.25
        1478            7.1             0.875         0.05            5.70
        1505            6.7             0.760         0.02            1.80
...                     ...               ...          ...             ...
8       1449            7.2             0.380         0.31            2.00
        495            10.7             0.350         0.53            2.60
        498            10.7             0.350         0.53            2.60
        1403            7.2             0.330         0.33            1.70
        440            12.6             0.310         0.72            2.20

              chlorides  free sulfur dioxide  total sulfur dioxide  density  \
quality
3       899       0.084                  6.0                  11.0  0.99892
        1299      0.137                  5.0                   9.0  0.99476
        690       0.097                  5.0                  14.0  0.99660
        1478      0.082                  3.0                  14.0  0.99808
        1505      0.078                  6.0                  12.0  0.99600
...                 ...                  ...                   ...      ...
8       1449      0.056                 15.0                  29.0  0.99472
        495       0.070                  5.0                  16.0  0.99720
        498       0.070                  5.0                  16.0  0.99720
        1403      0.061                  3.0                  13.0  0.99600
        440       0.072                  6.0                  29.0  0.99870

                pH  sulphates  alcohol  quality  alc_content_rank
quality
3       899   3.48       0.49    11.00        3                 1
        1299  3.50       0.40    10.90        3                 2
        690   3.63       0.54    10.70        3                 3
        1478  3.40       0.52    10.20        3                 4
        1505  3.55       0.63     9.95        3                 5
...            ...        ...      ...      ...               ...
8       1449  3.23       0.76    11.30        8                14
        495   3.15       0.65    11.00        8                15
        498   3.15       0.65    11.00        8                16
        1403  3.23       1.10    10.00        8                17
        440   2.88       0.82     9.80        8                18

[1599 rows x 13 columns]

In [34]:
# 行の名前と列にqualityがあるので、行の名前を変更
dframe_alc_rank.index = dframe_alc_rank.index.rename(['idx_quality', 'index'])
dframe_alc_rank

                   fixed acidity  volatile acidity  citric acid  \
idx_quality index
3           899              8.3             1.020         0.02
            1299             7.6             1.580         0.00
            690              7.4             1.185         0.00
            1478             7.1             0.875         0.05
            1505             6.7             0.760         0.02
...                          ...               ...          ...
8           1449             7.2             0.380         0.31
            495             10.7             0.350         0.53
            498             10.7             0.350         0.53
            1403             7.2             0.330         0.33
            440             12.6             0.310         0.72

                   residual sugar  chlorides  free sulfur dioxide  \
idx_quality index
3           899              3.40      0.084                  6.0
            1299             2.10      0.137                  5.0
            690              4.25      0.097                  5.0
            1478             5.70      0.082                  3.0
            1505             1.80      0.078                  6.0
...                           ...        ...                  ...
8           1449             2.00      0.056                 15.0
            495              2.60      0.070                  5.0
            498              2.60      0.070                  5.0
            1403             1.70      0.061                  3.0
            440              2.20      0.072                  6.0

                   total sulfur dioxide  density    pH  sulphates  alcohol  \
idx_quality index
3           899                    11.0  0.99892  3.48       0.49    11.00
            1299                    9.0  0.99476  3.50       0.40    10.90
            690                    14.0  0.99660  3.63       0.54    10.70
            1478                   14.0  0.99808  3.40       0.52    10.20
            1505                   12.0  0.99600  3.55       0.63     9.95
...                                 ...      ...   ...        ...      ...
8           1449                   29.0  0.99472  3.23       0.76    11.30
            495                    16.0  0.99720  3.15       0.65    11.00
            498                    16.0  0.99720  3.15       0.65    11.00
            1403                   13.0  0.99600  3.23       1.10    10.00
            440                    29.0  0.99870  2.88       0.82     9.80

                   quality  alc_content_rank
idx_quality index
3           899          3                 1
            1299         3                 2
            690          3                 3
            1478         3                 4
            1505         3                 5
...                    ...               ...
8           1449         8                14
            495          8                15
            498          8                16
            1403         8                17
            440          8                18

[1599 rows x 13 columns]

In [39]:
# それぞれのランクから、一番アルコール度数が高いワインを抽出します。
dframe_alc_rank[dframe_alc_rank['alc_content_rank'] == 1].sort_values('quality')

,,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_content_rank
idx_quality,index,,,,,,,,,,,,,
3,899,8.3,1.02,0.02,3.4,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3,1
4,45,4.6,0.52,0.15,2.1,0.054,8.0,65.0,0.99340,3.90,0.56,13.1,4,1
5,652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,1
6,1270,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6,1
7,821,4.9,0.42,0.00,2.1,0.048,16.0,42.0,0.99154,3.71,0.74,14.0,7,1
8,1269,5.5,0.49,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8,1

In [41]:
dframe_alc_rank[dframe_alc_rank['alc_content_rank'] <= 5]

                   fixed acidity  volatile acidity  citric acid  \
idx_quality index
3           899              8.3             1.020         0.02
            1299             7.6             1.580         0.00
            690              7.4             1.185         0.00
            1478             7.1             0.875         0.05
            1505             6.7             0.760         0.02
4           45               4.6             0.520         0.15
            1276             8.5             0.400         0.40
            1239             6.5             0.670         0.00
            1124             6.5             0.580         0.00
            1235             6.0             0.330         0.32
5           652             15.9             0.360         0.65
            1287             8.0             0.600         0.08
            131              5.6             0.500         0.09
            353             13.5             0.530         0.79
            132              5.6             0.500         0.09
6           1270             5.0             0.380         0.01
            144              5.2             0.340         0.00
            142              5.2             0.340         0.00
            467              8.8             0.460         0.45
            1114             5.0             0.400         0.50
7           821              4.9             0.420         0.00
            1477             5.3             0.470         0.11
            1228             5.1             0.420         0.00
            1132             7.4             0.360         0.34
            1475             5.3             0.470         0.11
8           1269             5.5             0.490         0.03
            588              5.0             0.420         0.24
            455             11.3             0.620         0.67
            1120             7.9             0.540         0.34
            390              5.6             0.850         0.05

                   residual sugar  chlorides  free sulfur dioxide  \
idx_quality index
3           899              3.40      0.084                  6.0
            1299             2.10      0.137                  5.0
            690              4.25      0.097                  5.0
            1478             5.70      0.082                  3.0
            1505             1.80      0.078                  6.0
4           45               2.10      0.054                  8.0
            1276             6.30      0.050                  3.0
            1239             4.30      0.057                 11.0
            1124             2.20      0.096                  3.0
            1235            12.90      0.054                  6.0
5           652              7.50      0.096                 22.0
            1287             2.60      0.056                  3.0
            131              2.30      0.049                 17.0
            353              4.80      0.120                 23.0
            132              2.30      0.049                 17.0
6           1270             1.60      0.048                 26.0
            144              1.80      0.050                 27.0
            142              1.80      0.050                 27.0
            467              2.60      0.065                  7.0
            1114             4.30      0.046                 29.0
7           821              2.10      0.048                 16.0
            1477             2.20      0.048                 16.0
            1228             1.80      0.044                 18.0
            1132             1.80      0.075                 18.0
            1475             2.20      0.048                 16.0
8           1269             1.80      0.044                 28.0
            588              2.00      0.060                 19.0
            455              5.20      0.086                  6.0
            1120             2.50      0.076                  8.0
            390              1.40      0.045                 12.0

                   total sulfur dioxide  density    pH  sulphates    alcohol  \
idx_quality index
3           899                    11.0  0.99892  3.48       0.49  11.000000
            1299                    9.0  0.99476  3.50       0.40  10.900000
            690                    14.0  0.99660  3.63       0.54  10.700000
            1478                   14.0  0.99808  3.40       0.52  10.200000
            1505                   12.0  0.99600  3.55       0.63   9.950000
4           45                     65.0  0.99340  3.90       0.56  13.100000
            1276                   10.0  0.99566  3.28       0.56  12.000000
            1239                   20.0  0.99488  3.45       0.56  11.800000
            1124                   13.0  0.99557  3.62       0.62  11.500000
            1235                  113.0  0.99572  3.30       0.56  11.500000
5           652                    71.0  0.99760  2.98       0.84  14.900000
            1287                    7.0  0.99286  3.22       0.37  13.000000
            131                    99.0  0.99370  3.63       0.63  13.000000
            353                    77.0  1.00180  3.18       0.77  13.000000
            132                    99.0  0.99370  3.63       0.63  13.000000
6           1270                   60.0  0.99084  3.70       0.75  14.000000
            144                    63.0  0.99160  3.68       0.79  14.000000
            142                    63.0  0.99160  3.68       0.79  14.000000
            467                    18.0  0.99470  3.32       0.79  14.000000
            1114                   80.0  0.99020  3.49       0.66  13.600000
7           821                    42.0  0.99154  3.71       0.74  14.000000
            1477                   89.0  0.99182  3.54       0.88  13.600000
            1228                   88.0  0.99157  3.68       0.73  13.600000
            1132                   38.0  0.99330  3.38       0.88  13.600000
            1475                   89.0  0.99182  3.54       0.88  13.566667
8           1269                   87.0  0.99080  3.50       0.82  14.000000
            588                    50.0  0.99170  3.72       0.74  14.000000
            455                    19.0  0.99880  3.22       0.69  13.400000
            1120                   17.0  0.99235  3.20       0.72  13.100000
            390                    88.0  0.99240  3.56       0.82  12.900000

                   quality  alc_content_rank
idx_quality index
3           899          3                 1
            1299         3                 2
            690          3                 3
            1478         3                 4
            1505         3                 5
4           45           4                 1
            1276         4                 2
            1239         4                 3
            1124         4                 4
            1235         4                 5
5           652          5                 1
            1287         5                 2
            131          5                 3
            353          5                 4
            132          5                 5
6           1270         6                 1
            144          6                 2
            142          6                 3
            467          6                 4
            1114         6                 5
7           821          7                 1
            1477         7                 2
            1228         7                 3
            1132         7                 4
            1475         7                 5
8           1269         8                 1
            588          8                 2
            455          8                 3
            1120         8                 4
            390          8                 5