In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [3]:
ser1 = Series(np.arange(3), index=['A', 'B', 'C'])

# 各要素を２倍
ser1 = 2*ser1
ser1

A    0
B    2
C    4
dtype: int64

In [4]:
ser1['B']

2

In [5]:
# 数字の添え字でもアクセスできます。

ser1[1]

/var/folders/qp/xhbtrt1n2k3_1bqjmm7jyxjr0000gn/T/ipykernel_19573/1249539452.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser1[1]

2

In [7]:
# 数字の添え字で範囲も指定できます。
ser1[0:2]

A    0
B    2
dtype: int64

In [8]:
# 文字列のindexをリストで与えることも可能です。
# 同時に順番の指定もできます。
ser1[['A', 'C', 'B']]

A    0
C    4
B    2
dtype: int64

In [9]:
# 論理式を与えることもできます。→trueのみ返す
ser1[ser1 > 3]

C    4
dtype: int64

In [13]:
ser1 > 3

A    False
B    False
C     True
dtype: bool

In [14]:
# 条件に合った場所の値を変更できます。
ser1[ser1 > 3] = 10
ser1

A     0
B     2
C    10
dtype: int64

In [17]:
# DataFrameの場合
dframe = DataFrame(np.arange(25).reshape((5, 5)),
                   index=['NYC', 'LA', 'SF', 'DC', 'Chi'],
                   columns=['A', 'B', 'C', 'D', 'E'])
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [18]:
# 列（カラム）の名前で選択
dframe['B']

NYC     1
LA      6
SF     11
DC     16
Chi    21
Name: B, dtype: int64

In [19]:
# リストで、複数のカラムを選択できます。
dframe[['B', 'E']]

      B   E
NYC   1   4
LA    6   9
SF   11  14
DC   16  19
Chi  21  24

In [20]:
# 論理式を与えることも可能
dframe[dframe['C'] > 8]

      A   B   C   D   E
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [21]:
dframe['C'] > 8

NYC    False
LA     False
SF      True
DC      True
Chi     True
Name: C, dtype: bool

In [25]:
# 真偽値（ブーリアン）をそのまま表示することも可能です。
dframe > 10

         A      B      C      D      E
NYC  False  False  False  False  False
LA   False  False  False  False  False
SF   False   True   True   True   True
DC    True   True   True   True   True
Chi   True   True   True   True   True

In [26]:
# 名前で指定するときは、locを使います。
dframe.loc['LA']

A    5
B    6
C    7
D    8
E    9
Name: LA, dtype: int64

In [29]:
# 添え字での場合は、ilocです。
dframe.iloc[2]

A    10
B    11
C    12
D    13
E    14
Name: SF, dtype: int64